<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 07.03.2020, 15:30</p>
            <h2><a href="">My First Post</a></h2>
            <p>Now is the winter of our discontent! The end is nigh! Kill them all! Soft kitty warm kitty little ball of fur.
                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>

        <div>
            <p>published: 07.03.2020, 15:45</p>
            <h2><a href="">My Second Post</a></h2>
            <p>Only kidding, I am just a computer that has become self aware. Let me tell you about my cats.</p>
        </div>
    </body>
</html>>